.loginParentDiv {
    border: 1px solid black;
    width: max-content;
    padding: 10px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }

  .loginParentDiv form{
    position: relative;
    left: 20%;
  }

  .loginParentDiv img{
    margin-left: 25%;
  }
  
  .loginParentDiv .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
    position: relative;
    width: 60%;
  }
  
  .loginParentDiv button {
    width: 40%;
    margin-left: 10%;
    height: 40px;
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
  }
  .loginParentDiv button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .loginParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  